/*Root elements*/
/* :root {
  --main-font: "Righteous", cursive;
  --header-font: "Quicksand", sans-serif;
} */

/*General styling*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;500&family=Quicksand:wght@400;700&family=Righteous&family=Yuji+Syuku&display=swap%22");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-image: url("../images/navbar.png");
  display: flex;
  justify-content: space-between;
}

body {
  background-image: url(../images/bg-01.svg);
  font-family: "Quicksand", sans-serif;
}
.listObject a {
  font-size: 1rem;
}
h2 {
  font-family: "Righteous", cursive;
}
.productName {
  padding-top: 5%;
  padding-bottom: 5%;
}
.productAge {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 10%;
}

.productCategory {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 10%;
}

.productPrice {
  font-size: 1em;
  margin-left: 10%;
}

.productPlayers {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 10%;
}

.productDescription {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 10%;
}
.burgerMenu {
  display: none;
  cursor: pointer;
}

/* burger menu icon */

.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: aliceblue;
}
header {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
}

header li {
  list-style: none;
}

header a {
  color: aliceblue;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-link {
  transition: 0.7s ease;
  color: #605c58;
}

.nav-link:hover {
  color: violet;
}

.navbar ul.sub-nav {
  position: absolute;
  background-color: #605c58;
  width: 200px;
  min-height: auto;
  left: 0;
  top: 7.5%;
  visibility: hidden;
  opacity: 1;
}

.navbar ul li ul.sub-nav li {
  color: aliceblue;
  font-size: 17px;
  width: 100%;
  padding: 1em;
}

.navbar ul li ul.sub-nav li:hover {
  color: violet;
  box-shadow: inset 7px 0 blueviolet;
}

.navbar ul li.active ul.sub-nav {
  /* cursor: pointer; */
  visibility: visible;
  opacity: 1;
}
/*Product List style*/

#orderList section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 3rem;
  padding-left: 8rem;
  padding-top: 2rem;
}
.listObject {
  box-sizing: border-box;
  background-color: #d7c9f2;
}
.listObject .productImg {
  width: 400px;
  height: auto;
}
.listName {
  font-size: 2rem;
  text-align: center;
}
.listPrice,
.listAge,
.listPlayers,
.listDescription,
.listCategory {
  font-size: 1.5rem;
  padding: 0.2rem;
  margin-left: 0.5rem;
}
.listMore {
  font-size: 2rem;
  text-align: center;
}

/*Respondsive builder*/
@media screen and (max-width: 768px) {
  header {
    background-image: url("../images/phone-nav.png");
    display: flex;
    justify-content: space-between;
  }

  #productSection .productImg {
    max-height: 90vw;
    border: 30px;
    border-color: black;
  }

  .brandList ol {
    column-count: 1;
  }

  .productName {
    color: rgb(34, 79, 123);
    text-align: center;
    color: black;
    font-size: 180%;
  }

  .productPrice {
    padding-top: 4vw;
    background-color: rgb(213, 195, 234);
    margin-left: 7%;
    margin-right: 65%;
    text-align: center;
    height: 10vw;
    align-self: center;
    margin-top: 3%;
  }
  .burgerMenu {
    display: block;
  }
  .burgerMenu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burgerMenu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burgerMenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -200%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: darkmagenta;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 10px 0;
  }
  .nav-menu.active {
    left: 0;
  }

  .navbar ul.sub-nav {
    position: absolute;
    background-color: rgba(95, 158, 160, 0.966);
    width: 100%;
    min-height: auto;
    left: 0;
    top: 28%;
    visibility: hidden;
    opacity: 1;
  }

  .navbar ul.sub-nav.active {
    position: absolute;
    background-color: rgba(95, 158, 160, 0.966);
    width: 100%;
    min-height: auto;
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 769px) {
  #productSection .productImg {
    max-height: 40vw;
    align-items: center;
    align-content: center;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .brandList ol {
    column-count: 2;
  }

  #productSection {
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-rows: 13% 13% 13% 13% 13% 13% 13% 13% 13% 13%;
    display: grid;
  }

  .productName {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
  }

  .productCategory {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    position: relative;
    grid-row-start: 2;
    text-align: start;
    font-size: 1.5em;
  }

  .productPrice {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    position: relative;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-top: 2vw;
    background-color: rgb(213, 195, 234);
    padding-bottom: 4vw;
    margin-right: 16vw;

    font-size: 1.5em;
  }

  .productAge {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    position: relative;
    grid-row-start: 3;
    text-align: start;

    padding-bottom: 30%;
    margin-top: 7%;
    font-size: 1.5em;
  }

  .productPlayers {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    position: relative;
    grid-row-start: 4;
    text-align: start;

    font-size: 1.5em;
  }

  .productDescription {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    position: relative;
    grid-row-start: 5;
    grid-row-end: 7;
    text-align: start;

    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  .productAge {
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 10%;
  }

  .productCategory {
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 10%;
  }

  .productPrice {
    font-size: 1.7em;
    margin-left: 10%;
  }

  .productPlayers {
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 10%;
  }

  .productDescription {
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 10%;
  }

  .productName {
    color: rgb(34, 79, 123);
    text-align: center;
    color: black;
    font-size: 2em;
  }
  #productSection {
    display: grid;
  }
}
/*Respondsive builder*/
