/*Root elements*/


/*General styling*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;500&family=Quicksand:wght@400;700&family=Righteous&family=Yuji+Syuku&display=swap%22");

header {
  background-image: url("../images/navbar.png");
  display: flex;
  justify-content: space-between;
}

body {
  background-image: url(../images/more-timmy-artboards-01.svg);
}

.productAge {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin-left: 10%;
}

.productCategory {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin-left: 10%;
}

.productPrice {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  margin-left: 10%;
}

.productPlayers {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin-left: 10%;
}

.productDescription {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin-left: 10%;
}




/*Respondsive builder*/
@media screen and (max-width: 767.98px) {



header {
  background-image: url("../images/phone-nav.png");
  display: flex;
  justify-content: space-between;
}

  .productImg {
    height: 90vw;
    align-items: center;
    align-content: center;
    justify-self: center;
    border: 30px;
    border-color: black;
  }

    .brandList ol {
      column-count: 1;
    }

    section {
      grid-template-columns: 1fr;
      display: grid;
  }

  .productName {
    color:rgb(34, 79, 123);
    text-align: center;
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 180%;
}

.productPrice {
  padding-top: 4vw;
  background-color: rgb(213, 195, 234);
  margin-left: 7%;
  margin-right: 65%;
  text-align: center;
  height: 10vw;
  align-self: center;
  margin-top: 3%;
  font-family: 'Quicksand', sans-serif;
}

}

@media (min-width: 768px) {  

  .productImg {
    height: 40vw;
    align-items: center;
    align-content: center;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .brandList ol {
    column-count: 2;
  }

  section {
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-rows: 13% 13% 13% 13% 13% 13% 13% 13% 13% 13%;
    display: grid;

}

.productName {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.productCategory {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  position: relative;
  grid-row-start: 2;
  text-align: start;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}

.productPrice {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  position: relative;
  grid-row-start: 7;
  grid-row-end: 8;
  padding-top: 2vw;
  background-color: rgb(213, 195, 234);
  padding-bottom: 4vw;
  margin-right: 16vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}

.productAge {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  position: relative;
  grid-row-start: 3;
  text-align: start;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 30%;
  margin-top: 7%;
  font-size: 1.5em;
}

.productPlayers {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  position: relative;
  grid-row-start: 4;
  text-align: start;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}

.productDescription {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  position: relative;
  grid-row-start: 5;
  grid-row-end: 7;
  text-align: start;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}

}


@media (min-width: 992px) {

  .productAge {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 10%;
  }
  
  .productCategory {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 10%;
  }
  
  .productPrice {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7em;
    margin-left: 10%;
  }
  
  .productPlayers {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 10%;
  }
  
  .productDescription {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 10%;
  }

  .productName {
    color:rgb(34, 79, 123);
    text-align: center;
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 2em;
}

}
